@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.animate-bounce {
    animation: bounce 0.6s ease-in-out;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.animate-pulse:hover {
    animation: pulse 0.3s ease-in-out;
}

.btn-gradient {
    background: linear-gradient(90deg, #ea068c, #a01cb4);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.border-gradient {
    border: unset;
    border: 2px solid rgb(240, 235, 235);
    outline: unset !important;
}

.border-gradient:focus-visible {
    outline: unset !important;
    border: unset;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #ea068c, #a01cb4) 1;
    transition: transform 0.2s ease-in-out;
}

.btn-gradient:hover {
    transform: scale(1.02);
}

